.main-heading {
  margin-top: 30px; 
  text-align: center; 
}

.projects {
  display: flex;
  flex-direction: column; 
  width: 90%;
  margin: auto;
  padding: 10px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
  width: 100%;
}

.project-image {
  position: relative;
  width: 90vw;
  height: auto; /* Remove fixed height */
  aspect-ratio: 16 / 9; /* Maintain aspect ratio (adjust as needed) */
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
}

.view-code ul {
  display: flex;
  justify-content: space-around;
  margin: 10px 0; 
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  flex-wrap: wrap; 
}

.view-code li {
  list-style: none;
  border: 1px solid white;
  border-radius: 10px; 
  padding: 5px 10px;  
  margin: 5px; 
  font-size: 14px; 
}

.view-code li:hover {
  background-color: white;
  border-radius: 10px;
  padding: 5px 10px;
  color: black;
}

.project-content {
  margin: 15px 0 0 0;
  font-family: 'Courier New', Courier, monospace;
  text-align: left; 
}

.project-content .project-name {
  font-size: 18px;
  font-weight: bold;
}



@media (min-width: 995px) {
  .main-heading {
      margin-top: 50px;
      text-align: left; 
  }

  .projects {
      flex-direction: row; 
      width: 80%;
      padding: 0;
  }

  .project {
      flex-direction: row;
      margin: 20px 0;
  }

  .project-image {
    width: 544.7667px;
    height: auto; /* Flexible height */
    aspect-ratio: 16 / 9; /* Maintain aspect ratio */
    border-radius: 10px;
  }

  .view-code ul {
      margin: 15px 0;
      flex-wrap: nowrap;
  }

  .view-code li {
      border-radius: 12px;
      padding: 5px 15px;
      margin: 0;
      font-size: 16px;
  }

  .view-code li:hover {
      border-radius: 12px;
      padding: 5px 15px;
  }

  .project-content {
      margin-left: 30px;
      margin-top: 0;
      text-align: left;
  }

  .project-content .project-name {
      font-size: 20px;
  }
}