.Hero {
    height: 100%;
}
.Hero .container {
    margin: 100px 17px 50px 17px;
}

@media (min-width: 768px) {
    .Hero {
        height: 100%;
    }
    .Hero .container {
        margin: 170px 170px 50px 170px;
    }
}