.Footer-container {
    margin-top: 20px;
    bottom: 0;
    height: fit-content;
    background-color: white;
    margin: 20px 0px 0px 0px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Footer-container .Footer-content {
    font-family: "Courier New", Courier, monospace;
    color: black;
    align-items: center;
    display: flex;
}
.Footer-container .Footer-social Image{
    padding: 7px;
    margin-left: 17px;
}